{% extends 'base.html.twig' %}

{% block title %}Edit CodeReduction{% endblock %}

{% block body %}
    <h1>Edit CodeReduction</h1>

    {{ include('code_reduction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_code_reduction_index') }}">back to list</a>

    {{ include('code_reduction/_delete_form.html.twig') }}
{% endblock %}
